body{
    background-color: rgb(59, 59, 134);
}
header{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
nav li{
    list-style: none;
    display: inline;
    font-size: 12pt;
    padding: 20px;
}
nav ul a{
    text-decoration: none;
    color:navy;
}
#navlist{
    float: right;
}
#navlist a:hover{
    color: skyblue;
}
hr{
    width: 100px;
    text-align: left;
    margin-left: 0px;
}
#welcome_text{
    font-size: 16pt;
}
.intro{
    color: white;
    width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 200px;
}
.intro h1{
    font-size: 54pt;
    margin-top: 20px;
    margin-bottom: 20px;
}
#description{
    font-size: x-large;
}
