body{
    background-color:navy;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
nav li{
    list-style: none;
    display: inline;
    font-size: 12pt;
    padding: 20px;
}
nav ul a{
    text-decoration: none;
    color:navy;
}
#navlist{
    float: right;
}
#navlist a:hover{
    color: skyblue;
}
hr{
    width: 120px;
}
#welcome_text{
    font-size: 16pt;
}
#home{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.profilePhoto{
    width: 400px;  
    height: 400px;  
    margin:0 auto;
}
.profilePhoto img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.intro{
    color: white;
    width: 60%;
    padding: 20px;
    margin: auto;  
    margin-top: 40px;
}
.intro h1{
    font-size: 54pt;
    margin-top: 20px;
    margin-bottom: 20px;
}
#description{
    font-size: x-large;
}
.contactImg {
    text-align: center;
    position: relative;
    color: white;
    margin-top: 20px;
    width: 100%;
}
#contact_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    white-space: nowrap;
}
img {
    width: 100%;    /*sets image to resize according to page size*/
    height: auto;
}
.form{
    width: 50%;
    padding: 30px;
    margin: auto;
    background-color: whitesmoke;
    font-weight: 700px;
    font-size: 20pt;
    color: navy;
}
form{
    padding: 20px;
    font-size: 18pt;
}
.alignIn{
    display: flex;
    justify-content: space-between;
    }
label{
    display: block;
    text-align: left;
    padding-top:5px ;
    padding-bottom:5px ;
}
#name, #email,#message, #btn{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 7px;
}
#message{
    height: 150px;
}
#f1{
    flex: 1;
    padding: 2px;
    text-align: left;
}
#btn{
    margin-right: 20px;
    background-color: navy;
    color: white;
    font-size: 12pt;
}
#buttons{
    width: 50%;
}
@media screen and (max-width: 700px) {
    .form{
        width: 100%; 
        padding: 0px;
        padding-top: 50px;
    }
    #buttons{
        width: 70%;
    }
}

